
<h1>User Profile Page Here</h1>

<h2>Welcome <%= @user.name %> <%= @user.email %>!</h2>
<h2><%= @user.profile_image %></h2>
<h3>Created at: <%= @user.created_at %> <%= @user.current_city %></h3>
<% @posts.each do |post| %>
<h3>Title: <%= post.title %></h3>
<h3>Body: <%= post.body %></h3>
<% end %>
