<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-5">
                <h2>Welcome Back
                    <i><%= @user.name %>!</i>
                </h2>
                <br>
                <img src="<%= @user.profile_image %>" alt="profile image" height='200px' width='200px'>
                <br><br><hr>
                <h4>
                    <span class="glyphicon glyphicon-envelope"></span>
                    <i><%= @user.email %></i>
                </h4>
                <h4>
                    <span class="glyphicon glyphicon-map-marker"></span>
                    <i><%= @user.current_city %></i>
                </h4>
                <h5>Joined on
                    <%= @time %></h5>
                <%= link_to "Edit", edit_user_path(@user) %>
            </div>
            <div class="col-md-7">
                <% @posts.each do |post| %>
                <h2><%= link_to post.title, post_path(post) %></h2>

                <p><%= post.body[0,500]+"..." %></p>
                <% end %>
            </div>
        </div>
    </div>
</div>
