<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="row">
        <br>
        <div class="text-center">
          <h1>Create New</h1>
          
          <!-- display flash messages  -->
            <% flash.each do |name, msg| %>
              <div><%= msg %></div>
            <% end %>
        </div>
        <br>
      </div>
      <%= form_for :post do |f| %>
          <fieldset class="form-group">
            <label for="name">Title</label>
            <%= f.text_field :title, class: "form-control", placeholder: "Title" %>
          </fieldset>
          <fieldset class="form-group">
            <label for="email">Message</label>
            <%= f.text_area :body, class: "form-control", placeholder: "Message" %>
          </fieldset>
          <fieldset class="form-group">
            <%= f.hidden_field :city_id, class: "form-control", :value => @city.id %>
          </fieldset>
          <fieldset class="form-group">
            <%= f.hidden_field :user_id, class: "form-control", :value => @id %>
          </fieldset>
          <fieldset class="form-group">
            <%= f.submit "Submit", class: "btn btn-primary" %>
          </fieldset>
      <% end %>
    </div>
  </div>
</div>
