<div class="container">
    <div class="row">
        <div class="col-md-12">
          <h2><%= @post.title %></h2>
            <h4>&emsp;<i>by <%= @author.name %></i></h4>
            <p><%= @post.body %></p>
            <%= link_to "Back to Profile", user_path(@user) %>
            <br />
            <%= link_to "Back to Home Page", '/' %>
        </div>
    </div>
</div>
