
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-5">
                <h2>Welcome to
                    <i><%= @city.name %>!</i>
                </h2>
                <br>
                <img src="<%= @city.image %>" alt="city image" height='400px' width='400px'>
                <br><br><hr>
                <%= link_to "Back", '/', class: "btn btn-primary" %>
            </div>
            <div class="col-md-7">
                <% @posts.each do |post| %>
                <h2><%= link_to post.title, post_path(post) %></h2>
                <p><%= post.body[0,500]+"..." %></p>
                <% end %>
            </div>
            <% if current_user %>
            <%= link_to 'New Post', new_city_post_path(@city, @post), method: 'get', class: "btn btn-primary" %>
            <% end %>
        </div>
    </div>
</div>
